<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="8.0.0" manuallyInstalled="true" />
</packages>